<div class="navbar navbar-light navbar-expand bg-gray shadow mb-4 pt-3 pb-3 topbar static-top">
  <div class="container-fluid">
    <h2 class="mb-0">Quadro de Funcionários</h2>
    <ul class="navbar-nav flex-nowrap ms-auto">
      <li class="nav-item mx-1">
        <%= link_to '<i class="fa-solid fa-plus"></i>'.html_safe, new_user_path, class: "btn btn-primary icons-margin" %>
      </li>
      <li class="nav-item mx-1">
        <%= search do %>
          <%= render 'search' %>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="table-responsive">
  <table class="table bg-gray-darker text-white table-borderless">
    <thead class="align-middle">
      <tr>
        <th>Id</th>
        <th><%= User.human_attribute_name(:first_name) %></th>
        <th><%= User.human_attribute_name(:email) %></th>
        <th><%= User.human_attribute_name(:role) %></th>
        <th class="text-center d-none d-sm-block">Opções</th>
      </tr>
    </thead>
    
    <tbody class="align-middle">
      <% @users.each do |user| %>
        <tr>
          <% unless user.discarded? %>
            <td><%= user.id %></td>
          <% else %>
            <td><i class="fa-solid fa-xmark"></i></td>
          <% end %>
          <td><%= link_to "#{user.first_name.capitalize + ' ' + user.last_name.capitalize }", user, class: 'text-decoration-none text-white' %></td>
          <td><%= user.email %></td>
          <td><%= user.role_name %></td>
          <td class="text-center d-none d-sm-block">
              <% unless user.discarded? %>
                <%= link_to '<i class="fa-solid fa-eye"></i>'.html_safe, user, class: "btn btn-secondary icons-margin" %>
                <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, edit_user_path(user),
                  class: "btn btn-secondary icons-margin" if can? :edit, User %>
                <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, user, class: "btn btn-danger icons-margin", 
                  method: :delete, data: { confirm: 'Tem certeza?' } if can? :destroy, User %>
              <% else %>
                <%= link_to 'Ver registro', user, class: "text-decoration-none text-muted" %>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>









   