<div class="navbar navbar-light navbar-expand bg-gray shadow mb-4 pt-3 pb-3 topbar static-top">
  <div class="container-fluid">
    <h2 class="mb-0">Registro de Pedidos</h2>
    <ul class="navbar-nav flex-nowrap ms-auto">
      <li class="nav-item mx-1">
        <%= link_to '<i class="fa-solid fa-plus"></i>'.html_safe, new_order_path, class: "btn btn-primary icons-margin" %>
      </li>
      <li class="nav-item mx-1">
        <%= search do %>
          <%= render 'search' %>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="table-responsive">
  <table class="table bg-gray-darker text-white table-borderless">
    <thead class="align-middle">
      <tr>
        <th>Id</th>
        <th>Cliente</th>
        <th>Mesa</th>
        <th>Atendente</th>
        <th>Total</th>
        <th>Status</th>
        <th class="text-center d-none d-sm-block">Opções</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.client_name %></td>
          <td><%= order.table %></td>
          <td><%= order.user.name %></td>
          <td><%= number_to_currency order.total %></td>
          <td><span class="badge <%= status_klass(order.status) %>"><%= order.status_name %></span></td>
          <td class="text-center">
            <%= link_to '<i class="fa-solid fa-eye"></i>'.html_safe, order, class: "btn btn-secondary icons-margin" %>
            <% unless order.canceled? || order.finished? %>  
              <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, edit_order_path(order), class: "btn btn-secondary icons-margin" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


