<div class="navbar navbar-light navbar-expand bg-gray shadow mb-4 pt-3 pb-3 topbar static-top">
  <div class="container-fluid">
    <h2 class="mb-0">Listagem de Categorias</h2>
    <ul class="navbar-nav flex-nowrap ms-auto">
      <li class="nav-item mx-1">
        <%= link_to '<i class="fa-solid fa-plus"></i>'.html_safe, new_category_path, class: "btn btn-primary icons-margin" if can? :new, Category %>
      </li>
      <li class="nav-item mx-1">
        <%= search do %>
          <%= render 'search' %>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="table-responsive">
  <table class="table bg-gray-darker text-white table-borderless">
    <thead class="align-middle">
      <tr>
        <th>Id</th>
        <th><%= Category.human_attribute_name(:title).upcase %></th>
        <th>Produtos</th>
        <th class="text-center d-none d-sm-block">Opções</th>
      </tr>
    </thead>
    
    <tbody class="align-middle">
      <% @categories.each do |category| %>
        <tr>
          <% unless category.discarded? %>
            <td><%= category.id %></td>
          <% else %>
            <td><i class="fa-solid fa-xmark"></i></td>
          <% end %>
          <td><%= link_to category.title, category, class: 'text-decoration-none text-white' %></td>
          <td><%= category.products.count %></td>
          <td class="text-center d-none d-sm-block">
              <% unless category.discarded? %>
                <%= link_to '<i class="fa-solid fa-eye"></i>'.html_safe, category, class: "btn btn-secondary icons-margin" %>
                <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, edit_category_path(category),
                  class: "btn btn-secondary icons-margin" if can? :edit, Category %>
                <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, category, class: "btn btn-danger icons-margin", 
                  method: :delete, data: { confirm: 'Tem certeza?' } if can? :destroy, Category %>
              <% else %>
                <%= link_to 'Ver registro', category, class: "text-decoration-none text-muted" %>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>