<div class="navbar navbar-light navbar-expand bg-gray shadow mb-4 pt-3 pb-3 topbar static-top">
  <div class="container-fluid">
    <h2 class="mb-0"><strong><%= @product.name %></strong></h2>
    <ul class="navbar-nav flex-nowrap ms-auto">
      <li class="nav-item mx-1">
        <%= link_to '<i class="fa-solid fa-arrow-left"></i>'.html_safe, products_path, class: "btn btn-secondary text-white icons-margin"  %>
      </li>
      <li class="nav-item mx-1">
        <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, edit_product_path(@product),class: "btn btn-secondary icons-margin" if can? :edit, Product %>
      </li>
      <li>
        <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, @product, class: "btn btn-danger ", 
                        method: :delete, data: { confirm: 'Tem certeza?' } if can? :destroy, Product %>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <p class="h4 p-2">
    PREÇO UNITÁRIO: <span class="badge bg-gray-light p-2">R$ <%= @product.price %></span>
  </p>
  <hr>
  <div class="p-2">
    <p class="h4 d-inline"><strong>DESCRIÇÃO: </strong>
      <span class="fw-light lh-base"><%= @product.description %></span>
    </p>
  </div>
</div>


      


<!--
<div class="container py-3 h-100">
  <div class="card bg-dark shadow">
    <div class="card-header ">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <h2 class="text-lighter">Produto: <strong><%= @product.name %></strong></h2>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="d-flex justify-content-end">
            <%= link_to '<i class="fa-solid fa-arrow-left"></i>'.html_safe, products_path, class: "btn btn-secondary text-white icons-margin"  %>
            <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, edit_product_path(@product),class: "btn btn-secondary icons-margin" if can? :edit, Product %>
            <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, @product, class: "btn btn-danger ", 
                        method: :delete, data: { confirm: 'Tem certeza?' } if can? :destroy, Product %>           
          </div>
        </div>
      </div>

      
    </div>
    <div class="card-body">
      <p class="font-size-info">
        Preço: <strong>R$ <%= @product.price %> </strong>
      </p>
      <hr class="divisor">
      <p class="lead">
        Descrição: <%= @product.description %>
      </p>
      <hr class="divisor">
      <p class="lead">
        Categoria: <span class="badge rounded-pill bg-light text-dark"><%= @product.category.title %></span>
      </p>
    </div>

  </div>
</div>

-->
