<li>
    <% if current_user.admin? %>
        <%= link_to dashboard_index_path, class: 'nav-link text-white px-lg-0 px-2' do %>
            <i class="fa-solid fa-desktop"></i><span class="text-decoration-none ms-1 d-none d-lg-inline p-2">Dashboard</span>
        <% end %>
    <% end %>
</li>
<li>
    <%= link_to products_path, class: 'nav-link text-white px-lg-0 px-2' do %>
        <i class="fa-solid fa-cart-shopping"></i><span class="text-decoration-none ms-1 d-none d-lg-inline p-2">Produtos</span>
    <% end %>
</li>
<li>
    <%= link_to categories_path, class: 'nav-link text-white px-lg-0 px-2' do %>
        <i class="fa-solid fa-list"></i><span class="text-decoration-none ms-1 d-none d-lg-inline p-2">Categorias</span>
    <% end %>
</li>
<li>
    <% unless current_user.chef? %>
        <%= link_to orders_path, class: 'nav-link text-white px-lg-0 px-2' do %>
            <i class="fa-solid fa-table-list"></i><span class="text-decoration-none ms-1 d-none d-lg-inline p-2">Pedidos</span>
        <% end %>
    <% end %>
</li>
<li>
    <% if current_user.admin? %>
        <%= link_to users_path, class: 'nav-link text-white px-lg-0 px-2' do %>
            <i class="fa-solid fa-users"></i><span class="ms-1 d-none d-lg-inline p-2">Funcionários</span>
        <% end %>
    <% end %>

</li>
<li>
    <% unless current_user.mesero? %>
        <%= link_to kitchen_index_path, class: 'nav-link text-white px-lg-0 px-2' do %>
            <i class="fa-solid fa-utensils"></i><span class="ms-1 d-none d-lg-inline p-2">Cozinha</span>
        <% end %>
    <% end %>
</li>

   